@{
    ViewBag.Title = "文章编辑";
}
@model OrderingSystem.Admin.Models.JourneyArticleVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        文章编辑 <small>添加、修改</small>
                    </h5>
                </div>
                <div class="ibox-content">
                    <form id="from" class="form-horizontal">
                        <input type="hidden" class="form-control" name="id" id="id" value="@Model.JourneyArticle.JourneyArticleId">
                        <input type="hidden" id="imgInfoId" value="@Model.JourneyArticle.BaseImageId" />
                        <input type="hidden" id="oldImgInfoId" value="@Model.JourneyArticle.BaseImageId" />

                        <div class="form-group">
                            <label class="col-sm-2 control-label">选择模块类型</label>
                            <div class="col-sm-4">
                                <select class="form-control inline" style="width:150px;" name="businessTypeId" id="businessTypeId">
                                    <option value="0">请选择模块类型</option>
                                    <option @(Model.JourneyArticle.Module == 1 ? "selected" : "") value="1">食模块</option>
                                    <option @(Model.JourneyArticle.Module == 2 ? "selected" : "") value="2">衣模块</option>
                                    <option @(Model.JourneyArticle.Module == 3 ? "selected" : "") value="3">乐模块</option>
                                    <option @(Model.JourneyArticle.Module == 4 ? "selected" : "") value="4">酒店</option>
                                    <option @(Model.JourneyArticle.Module == 5 ? "selected" : "") value="5">景点</option>
                                </select>
                            </div><label class="red-line">*</label>
                        </div> 
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商家名称</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="BusinessInfoId" id="BusinessInfoId">
                                    <option value="0">请选择商家</option>
                                    @if (Model.BusinessList != null && Model.BusinessList.Count > 0)
                                    {
                                        foreach (var item in Model.BusinessList)
                                        {
                                            <option @(Model.JourneyArticle.BusinessInfoId == item.BusinessInfoId ? "selected" : "" ) value="@item.BusinessInfoId">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">图片</label>
                            <div class="col-sm-6">
                                <input id="filename" name="filename" type="file" class="file-loading" multiple data-show-upload="true" data-show-caption="true">
                            </div>
                        </div> 
                      
                        <div class="form-group">
                            <label class="col-sm-2 control-label">文章标题</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="请输入文章标题" name="Name" id="Name" value="@(Model.JourneyArticle.Name??"")">
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-2 control-label">文章内容</label>
                            <div class="col-sm-6">
                                <textarea name="content" id="content"></textarea> 
                            </div>
                        </div> 
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button id="btnSave" class="btn btn-primary" type="button">保存内容</button>
                                <a class="btn btn-white" href="javascript:history.go(-1);">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script src="@("/Scripts/plugins/fileinput/fileinput.js"+OrderingSystem.Admin.Versions.Ver)"></script>
    <script src="@("/Scripts/plugins/fileinput/zh.js"+OrderingSystem.Admin.Versions.Ver)"></script>
    <script src="@("/Scripts/ViewJs/JourneyArticle/JourneyArticleEdit.js"+OrderingSystem.Admin.Versions.Ver)"></script>
    <script type="text/javascript">
        var img = [];
        if ('@Model.ImgInfo.Path' != '') {
            var str = '<img src="@(Model.ImgInfo.Source+Model.ImgInfo.Path)" class="kv-preview-thumb kv-file-content file-preview-image" />';
            img.push(str);
        }


        //初始化编辑器
        initEditor('@Html.Raw(Model.JourneyArticle.Content)', 'content');


        //缩略图上传js
        $('#filename').fileinput({
            language: 'zh',
            allowedFileTypes: ['image'],
            allowedFileExtensions: ['jpg', 'png', 'gif'],
            uploadUrl: '/Uploader/ImgFile?folder=BaseJourneyArticle&title=文章图片',
            showUpload: false,  //是否显示上传按钮
            showRemove: true,   //显示移除按钮
            maxFileSize: 2000,
            showCaption: true,  //是否显示标题
            maxFileCount: 1,    //表示允许同时上传的最大文件个数
            maxFileSize: 5000,   //单位为kb，如果为0表示不限制文件大小
            initialPreview: img,
            dropZoneTitle: '请选择需要上传的图片',
        });
        //上传成功回调事件
        $("#filename").on("fileuploaded", function (event, data, previewId, index) {
            $('#imgInfoId').val(data.response);
        });
        //移除事件
        $("#filename").on("fileclear", function (event, data, previewId, index) {
            $.post("/Uploader/DeleteFile", { Id: $('#imgInfoId').val() }, function (data) { });
        });
    </script>
}

