@{
    ViewBag.Title = "产品列表";
}
@model OrderingSystem.Admin.Models.ProductVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row" style="padding:10px 10px;">
                        <form action="/Product/List" method="get">
                            <div class="col-sm-3">
                                产品名称：
                                <input type="text" name="queryName" class="form-control inline" style="width:70%;" placeholder="请输入查询菜名" value="@(!string.IsNullOrWhiteSpace(Model.QueryName)?Model.QueryName:"")">
                            </div>
                            <div class="col-sm-3">
                                商家：
                                <input type="text" name="queryBusinessmanName" class="form-control inline" style="width:70%;" placeholder="请输入查询商家" value="@(!string.IsNullOrWhiteSpace(Model.QueryBusinessmanName)?Model.QueryBusinessmanName:"")">
                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-info">搜索</button>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">序号</th> 
                                    <th class="text-center" style="width:300px;">产品名称</th>
                                    <th class="text-right">原价(元)</th>
                                    <th class="text-right">优惠(元)</th>
                                    <th class="text-center">商家</th> 
                                    <th class="text-center">状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Paging.Items != null && Model.Paging.Items.Count > 0)
                                {
                                    foreach (var item in Model.Paging.Items)
                                    {
                                        <tr>
                                            <td class="text-center">@item.ProductId</td> 
                                            <td class="text-center">@item.Name</td>
                                            <td class="text-right">@item.OrignPrice</td>
                                            <td class="text-right">@item.RealPrice</td>
                                            <td class="text-center">@item.BusinessInfo.Name</td> 
                                            <td class="text-center">
                                                @if (item.Status == (int)OrderingSystem.Domain.EnumHelp.EnabledEnum.无效)
                                                {
                                                    <span class="label label-danger">无效</span>
                                                }
                                                @if (item.Status == (int)OrderingSystem.Domain.EnumHelp.EnabledEnum.有效)
                                                {
                                                    <span class="label label-info">有效</span>
                                                }
                                            </td>
                                            <td>
                                                <button onclick="iframe('标签编辑','/ProductLabel/List/@item.ProductId')" class="btn btn-success">标签</button> 
                                                <button onclick="iframe('菜品展示图','/ProductImage/List/@item.ProductId')" class="btn btn-success">展示图</button>
                                                <a href="/Product/Edit/@item.ProductId" class="btn btn-info"><i class="fa fa-paste padding-right-4"></i>&nbsp;编辑</a>
                                                @if (item.Status == 0)
                                                {
                                                    <button onclick="enable('/Product/UpdateStatus','/Product/List?RefreshFlag=1','@item.ProductId','@((int)OrderingSystem.Domain.EnumHelp.EnabledEnum.有效)')" class="btn btn-primary"><i class="fa fa-check padding-right-4"></i>&nbsp;启用</button>
                                                }
                                                @if (item.Status == 1)
                                                {
                                                    <button onclick="disable('/Product/UpdateStatus','/Product/List?RefreshFlag=1','@item.ProductId','@((int)OrderingSystem.Domain.EnumHelp.EnabledEnum.无效)')" class="btn btn-warning"><i class="fa fa-warning padding-right-4"></i>&nbsp;禁用</button>
                                                }

                                                <button onclick="del('/Product/Delete','/Product/List','@item.ProductId')" class="btn btn-danger"><i class="fa fa-times padding-right-4"></i>&nbsp;删除</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group">
                                <a href="/Product/Edit" class="btn btn-info" data-refresh="0"><i class="fa fa-plus padding-right-4"></i>&nbsp;添加</a>
                                <a href="/Product/List" class="btn btn-info" style="margin-left:10px;" data-refresh="0"><i class="fa fa-refresh padding-right-4"></i>&nbsp;刷新</a>
                            </div>
                            @Html.Raw(Model.Paging.Text)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.fancy').fancybox();
        });
    </script>
}